.footer{
    /* display: flex; */
    margin-top: 30px;
    /* gap: 50px; */
}

#footer{
    background-color: #0f3046;
}

#footer-text{
    margin: 0px;
    padding: 20px 0px;
    /* background-color: #0f3046; */
    text-align: center;
    color: whitesmoke;
}